table#cell_color_opts {
    border: none;
}

table#cell_color_opts tr td:first-child {
    text-align: inherit;
}

table#cell_color_opts tr td.selected {
    border: 3px solid var(--color);
    border-radius: var(--border-radius);
}

table#cell_color_opts tr td {
    border: 3px solid var(--color-bg);
    border-radius: var(--border-radius);
}
