body {
	background-color: #333;
	color: #ddd;
}

div {
	/* border: 3px solid green; */
}

#content {
	max-width: 360px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
		"player_label player_cards"
		"dealer_label dealer_cards"
		"buttons      buttons     "
		"stats        stats       "
		"hint         hint        "
		"strat        strat       ";
}

#player_label { grid-area: player_label; }
#dealer_label { grid-area: dealer_label; }
#buttons { grid-area: buttons; }
#stats { grid-area: stats; }
#hint { grid-area: hint; }
#strat { grid-area: strat; }

.card {
	font-size: 450%;
}

.hide {
	display: none;
}

#buttons {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
}

#buttons input {
	margin: 0.1em;
}

@media screen and (max-width: 1020px) {
	#content {
		max-width: 1020px;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto auto auto;
		grid-template-areas:
			"player_label"
			"player_cards"
			"dealer_label"
			"dealer_cards"
			"buttons     "
			"stats       "
			"hint        "
			"strat       ";
	}
	body, input {
		font-size: 2em;
	}
	.card {
		font-size: 800%;
	}
}
