body {
	background-color: #333;
	color: #ddd;
}

div {
	border: 3px solid green;
}

#content {
	max-width: 360px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"player_label player_cards"
		"dealer_label dealer_cards"
		"buttons      buttons"
		"stats        stats";
}

#player_label { grid-area: player_label; }
#dealer_label { grid-area: dealer_label; }
#buttons { grid-area: buttons; }
#stats { grid-area: stats; }

.card {
	font-size: 250%;
}
